@using LoginApplication.ViewModels
@model CourseViewModel
<div class="row"
              <div class="col-md-6 d-flex align-items-stretch grid-margin">
                <div class="row flex-grow">
                  <div class="col-12">
                    <div class="card">
                      <div class="card-body">
                        <h4 class="card-title">Update Course</h4>

                        <form class="forms-sample" method="post" enctype="multipart/form-data">
                          <div class="form-group">
                            <label asp-for="Name">Name</label>
                            <input asp-for="Name" class="form-control" placeholder="Name">
                          </div>
                          <div class="form-group">
                            <label asp-for="Price">Price</label>
                            <input asp-for="Price" class="form-control" placeholder="Price">
                          </div>
                          <div class="form-group">
                            <label asp-for="Description">Description</label>
                            <input asp-for="Description" class="form-control" placeholder="Description">
                          </div>
                           <div class="form-group">
                            <label asp-for="Image">Description</label>
                            <input type="file" asp-for="Image" class="form-control" placeholder="Description">
                          </div>
                          <button type="submit" class="btn btn-success mr-2">Submit</button>
                          <button class="btn btn-light" asp-controller="course" asp-action="index">Cancel</button>
                        </form>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
</div>

